
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<div class="container">
    <div class="content">
        <div class="row">

            <div id="SitePH_CmsContent_divContent" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 brd-left pleft25">
                <div class="headingBg">
                    <!--  <h2>
                         <span id="SitePH_CmsContent_lblHeading">About Us</span></h2> -->
                    <div id="SitePH_CmsContent_BreadCrum_breadcrumb" class="breadcrumbDiv">
                        <ul class="breadcrumb">
                            <li><b>You are here :</b></li>
                            <li><a href="index.html">Home</a></li>
                            <li>About Us</li>
                        </ul>

                    </div>

                </div>
                <input type="hidden" name="ctl00$SitePH$CmsContent$hdn_keyword" id="SitePH_CmsContent_hdn_keyword">
                <div id="SitePH_CmsContent_CMSContent">
                    <div class="archive">
                        <h2>About Us </h2><div>
                            <fieldset class="fieldsetaboutus" style="border-radius:5px;">
                                <p style="text-align: center;"><span style="font-size:14px;"><strong>Housing Department, Comment on the work of</strong></span></p>

                                <p style="text-align: center;"><span style="font-size:14px;"><u><strong> Maharashtra Rent Control Act Court under Maharashtra Government</strong></u></span></p>

                                <p><span style="font-size:14px;"><strong>Preface :-</strong></span></p>

                                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;In the period of old Mumbai state, scarcity of homes and unrealistic rent demand of house owners, due to these reasons with intention to have government’s control on these factors, government passed Bombay Rest Restriction Act, 1939. Again with furthers amendments same act was made more comprehensive as Bombay Rests, Hotel and Lodging House Rates (Control) Act, 1944.</p>

                                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; However, around 1942 Second World War was about to finish and city homes demand was increased tremendously. In this period due to industrial revolution, ever increasing Mechanization, herds of working people towards cities, changing social, economical and political conditions and increased inflation, demand of homes was ever increasing. At that time with intention to keep control on home rents Mumbai Legislative assembly once again passed Mumbai Hotels and Lodging House Rate (Control) act, 1947. It was effective since13th January 1948 and was in existence for next 35 years. (It came to an end on 31st March 2000) Meanwhile 44 amendments were made in it till 1987.</p>

                                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;In the year 1947 government’s decision to control and freezing of house rent leaded to unrest in the owner community. Hence “Tembe Committee” was formed in 1977, this committee recommended to make provision to increase of house rents in the law. In the same time period Central Government has also formed “L. K. Zha” study committee to resolve rental issues. This committee has also recommended increasing rents in the year 1982.</p>

                                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Government has decided to collaborate all these things and to make one all inclusive law which will be applicable to entire state. Similarly C. P. &amp;Berar and Hyderabad House Act, which was applicable to Vidhrabha and Marathavada province and rent Control Act of 1947 for rest of the Maharashtra, Instead on these act New Maharashtra Rent Control Act, 1999 has been implemented from 31st March 2000. Rent Control Act bill was submitted. This bill has been passed on 16st December 1999 in legislative council and on 21st December 1999 in legislative assembly with some corrections. Then this was sanctioned by Honorable President then it has been published in gazetteer of Maharashtra Government and implemented since 31st March 2000 as Maharashtra Act no18 Maharashtra Rent Control Act 1999.</p>

                                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Competent Authority, Rent Control Act Court, get the cases filed and concludes at the inquiry, under Rent Control and Hotels and Lodging House Rate (Control) act, 1947, section 13 A-1 and 13 A-2 Since 1988 and from 2000 Maharashtra Rent Control Act, section 22, 23 and 24. Old Mumbai Rent Control and Hotel and lodging rate control act 1947 and according to Current Maharashtra Rent Control Act 1999’s section 51 and Criminal Procedure Code 1973’s section 345 and 346 for purpose of these, this competent Authority, is civil court as per act. Therefore as it happens in other civil courts, the cases entered under Rent Control Act in this court are resolve as per Civil Procedure Code and cases are concluded after final inquiry. If any other Civil Court receives cases of Leave and Licence Fees agreement’s disputes then these cases are forwarded to this court, Important sections of this acts are as follows:-</p>

                                <p><strong>22. Recovery of possession in case of tenancy created during service period.</strong></p>

                                <p>(1) Where any landlord intends to let any premises or any part thereof belonging to him, to his employee, such landlord and the employee may enter into an agreement in writing to create a service tenancy in respect of the said premises or any part thereof; and, notwithstanding anything contained in this Act, the tenancy so created shall remain in force during the period of service or employment of the tenant with the landlord.</p>

                                <p>(2) After the creation of the service tenancy under sub-section (1), if the tenant ceases to be in the service or employment of the said landlord either by retirement, resig nation, termination of service, death or for any other reason, the tenant or any other person residing with him or claiming under him fails to vacate such premises or any part thereof immediately, then, notwithstanding anything contained in this Act or in any other law for the time being in force, the Competent Authority shall, if it is satisfied, on an application made to it in this behalf by such landlord within thirty days, make an order that the tenant or any such person as aforesaid shall place the landlord in vacant possession of such premises or part thereof, and on their refusal or failure to do so the Competent Authority may proceed to take action under section 45:</p>

                                <p>(i) if the deceased landlord has a spouse living at the time of his death, spouse, and</p>

                                <p>(ii) in any other case, any other member of his family. Explanation.- A landlord or his successor-in-interest by inheritance or otherwise shall not be entitled to recover possession under this section from the tenant or his successor-in-interest by transmission, where the landlord has acquired the property by purchase, gift,exchange or otherwise (but excluding acquisition by inheritance or succession or in the case of premises in a Co-operative Housing Society, by acquisition of a share or right and interest in such premises by nomination), and where, at the time of acquisition, by purchase gift, exchange or otherwise the premises had been in the occupation of the tenant or his predecessor-in-interest from whom the tenancy has been transmitted and notwithstanding anything contained in any judgement, decree or order of the court or anything contained in this Act or in any other law for the time being in force, the provisions of this explanation shall always be deemed to have applied to such a case, and the landlord shall not be entitled to recover possession in any such case,</p>

                                <p>(4) "aided institution" means the Tata Institution of Fundamental Research and the Tata Memorial Centre, also any other, institution which may be declared, from time to time, by the State Government in consultation with the Department of Atomic Energy to be aided institution for the purposes of this section. 24. Landlord entitled to recover possession of premises given on licence on expiry.</p>

                                <p>(1) Notwithstanding anything contained in this Act, a licensee in possession or occupation of premises given to him on licence for residence shall deliver possession of such premises to the landlord on expiry of the period of licence; and on the failure of the licensee to so deliver the possession of the licensed premises, a landlord shall be entitled to recover possession of such premises from a licensee, on the expiry of the period of licence, by making an application to the Competent Authority, and, the Competent Authority, on being satisfied that the period of licence has expired, shall pass an order for eviction of a licensee.</p>

                                <p>(2) Any licensee who does not deliver possession of the premises to the landlord on expiry of the period of licence and continues to be in possession of the licensed premises till he is dispossessed by the Competent Authority shall be liable to pay damages at double the rate of the licence fee or charge of the premises fixed under the agreement of licence.</p>

                                <p>(3) The Competent Authority shall not entertain any claim of whatever nature from any other person who is not a licensee according to the agreement of licence. Explanation- For the purposes of this section,-</p>

                                <p>(a) the expression "landlord" includes a successor-in-interest who becomes the landlord of the premises as a result of death of such landlord; but does not include a tenant or a sub-tenant who has given premises on licence;</p>

                                <p>(b) an agreement of licence in writing shall be conclusive evidence of the fact stated therein 55. Tenancy agreement to be compulsorily registered.</p>

                                <p>(1) Notwithstanding anything contained in this Act or any other law for the time being in force, any agreement for leave and licence or letting of any premises, entered into between the landlord and the tenant or the licensee, as the case may be, after the commencement of this Act, shall be in writing and shall be registered under the Registration Act, 1908.</p>

                                <p>(2) The responsibility of getting such agreement registered shall be on the landlord and in the absence of the written registered agreement, the contention of the tenant about the terms and conditions subject to which a premises have been given to him by the landlord on leave and licence or have been let to him, shall prevail, unless proved otherwise.</p>

                                <p>(3) Any landlord who contravenes the provisions of this section shall, on conviction, be punished with imprisonment which may extend to three months or with fine not exceeding rupees five thousand or with both</p>

                                <p style="text-align: center;"><span style="font-size:14px;">**********</span></p>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>

        <div class="clear">
        </div>
    </div>
</div>
