
@{
    ViewBag.Title = "CitizenCharter";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<div class="container">
    <div class="content">
        <div class="row">

            <div id="SitePH_CmsContent_divContent" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 brd-left pleft25">
                <div class="headingBg">
                    <!--  <h2>
                         <span id="SitePH_CmsContent_lblHeading">About Us</span></h2> -->
                    <div id="SitePH_CmsContent_BreadCrum_breadcrumb" class="breadcrumbDiv">
                        <ul class="breadcrumb">
                            <li><b>You are here :</b></li>
                            <li><a href="index.html">Home</a></li>
                            <li>Citizens Charter</li>
                        </ul>

                    </div>

                </div>
                <input type="hidden" name="ctl00$SitePH$CmsContent$hdn_keyword" id="SitePH_CmsContent_hdn_keyword">
                <div id="SitePH_CmsContent_CMSContent">
                    <div class="archive">
                        <h2>Citizens Charter</h2><div>

                            <fieldset class="fieldsetaboutus" style="border-radius:5px;">
                                <table class="table table-hover table-bordered" style="margin-bottom:0px;">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Name of Department/Office by whom service are provided</th>
                                            <th>Period to provide service after fulfillment of all required documents</th>
                                            <th>Service provider Officer/Employee</th>
                                            <th>Name of officer and telephone No to made complaint if service not provided in time.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Financial assistance to purchase the shares of co-op. sugar factory to SC/Navboudha & marginal farmers</td>
                                            <td>Once proposals received from co-op. sugar factory and as per the availability of grants in the current financial year</td>
                                            <td>Commissioner of Sugar</td>
                                            <td>Sugar	Secretary (Co-Operation) 022-22025283</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Benifits under Schemes of sugarcane development Fund / sugar development Fund</td>
                                            <td>After 7 days from the sanction of the proposals of sugar factories</td>
                                            <td>Commissioner of Sugar</td>
                                            <td>Secretary (Co-Operation) 022-22025283</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Registration of Co-operative Sugar Factories</td>
                                            <td>2 months</td>
                                            <td>Commissioner of Sugar</td>
                                            <td>Secretary (Co-Operation) 022-22025283</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Financial assistance to purchase the shares of co-op. sugar factory to SC/Navboudha & marginal farmers</td>
                                            <td>Once proposals received from co-op. sugar factory and as per the availability of grants in the current financial year</td>
                                            <td>Commissioner of Sugar</td>
                                            <td>Sugar	Secretary (Co-Operation) 022-22025283</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>

        <div class="clear">
        </div>
    </div>
</div>
