
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<div class="container">
    <div class="content">
        <div class="row">

            <div id="SitePH_CmsContent_divContent" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 brd-left pleft25">
                <div class="headingBg">
                    <!--  <h2>
                         <span id="SitePH_CmsContent_lblHeading">About Us</span></h2> -->
                    <div id="SitePH_CmsContent_BreadCrum_breadcrumb" class="breadcrumbDiv">
                        <ul class="breadcrumb">
                            <li><b>You are here :</b></li>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="">Contact Us</li>
                        </ul>

                    </div>

                </div>
                <input type="hidden" name="ctl00$SitePH$CmsContent$hdn_keyword" id="SitePH_CmsContent_hdn_keyword">
                <div id="SitePH_CmsContent_CMSContent">
                    <div class="archive">
                        <h2>Contact Us </h2><div>
                            <fieldset class="fieldsetaboutus" style="border-radius:5px;">
                                <p style="text-align: center;"><span style="font-size:14px;"><strong>MAHARASHTRA MINORITY DEPARTMENT</strong></span></p>

                                <!-- <p style="text-align: center;"><span style="font-size:14px;"><u><strong> MAHARASHTRA MINORITY DEPARTMENT</strong></u></span></p> -->

                                <p style="text-align: center;"><span style="font-size:14px;"><strong>Mob: 0000000000</strong></span></p>

                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>

        <div class="clear">
        </div>
    </div>
</div>
