
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<div class="container">
    <div class="content">
        <div class="row">

            <div id="SitePH_CmsContent_divContent" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 brd-left pleft25">
                <div class="headingBg">
                    <!--  <h2>
                         <span id="SitePH_CmsContent_lblHeading">About Us</span></h2> -->
                    <div id="SitePH_CmsContent_BreadCrum_breadcrumb" class="breadcrumbDiv">
                        <ul class="breadcrumb">
                            <li><b>You are here :</b></li>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="">Contact Us</a></li>
                        </ul>

                    </div>

                </div>
                <input type="hidden" name="ctl00$SitePH$CmsContent$hdn_keyword" id="SitePH_CmsContent_hdn_keyword">
                <div id="SitePH_CmsContent_CMSContent">
                            <div class="archive">
                                    <div class="col-md-6 col-sm-6">
                                        <h2>अल्पसंख्याक विकास विभाग</h2>

                                        <p>
                                            7 वा मजला , विस्तार, मंत्रालय,<br>
                                            हुतात्मा राजगुरू चौक,<br>
                                            मादाम कामा रोड, मुंबई .<br>
                                            <i class="fa fa-phone-square"></i> दूरध्वनी क्रमांक .: 022 22830626<br>
                                            &nbsp;
                                        </p>

                                        <h3>वेबसाइट संपर्क :</h3>
                                        <!--<p><strong>श्री. सुहास जाधवर</strong><br />
                                        कक्ष अधिकारी</p>-->

                                        <p class="phone"><span><i class="fa fa-phone-square"></i>दूरध्वनी क्रमांक : (022)22025408</span> <span><i class="fa fa-phone-square"></i>दूरध्वनी क्रमांक : (022)22830031</span> <span><i class="fa fa-phone-square"></i>दूरध्वनी क्रमांक : (022)22830908</span> <span><i class="fa fa-phone-square"></i>दूरध्वनी क्रमांक : (022)22832237</span> <span><i class="fa fa-fax"></i>फॅक्स क्रमांक: (022)22830626</span></p>
                                    </div>

                                    <div class="col-md-6 col-sm-6"><iframe allowfullscreen="" frameborder="0" height="450" scrolling="no" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3774.089243918156!2d72.82553417143717!3d18.92744354093347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7d1e9c9a42f95%3A0x6a7fcd523571f39e!2sMantralaya!5e0!3m2!1sen!2sin!4v1451568725425" style="border:0" width="500"></iframe></div>
                                
                            </div>
                        
                    
                </div>
                <div class="clear">
                </div>
            </div>
        </div>

        <div class="clear">
        </div>
    </div>
</div>
