
@{
    ViewBag.Title = "DepartmentInformation";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<div class="container">
    <div class="content">
                <div class="contentHead">
                </div>
                    <div id="SitePH_CmsContent_BreadCrum_breadcrumb" class="breadcrumbDiv">
                        <ul class="breadcrumb">
                            <li><b>तुम्ही आता येथे आहात :</b></li>
                            <li><a href="/Site/Home/Index.aspx">मुख्य पृष्ठ</a></li>
                            <li>आमच्याविषयी </li>
                            <li>विभागाबद्दल</li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <h2><span id="SitePH_CmsContent_lblHeading">विभागाबद्दल</span></h2>
                    <div id="SitePH_CmsContent_CMSContent">
                        <div class="archive">
                            <div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">विभागाची स्थापना</div>

                                            <div class="panel-body">
                                                <p>अल्पसंख्याक लोकसमुहाच्या सामाजिक, शैक्षणिक व आर्थिक मागासलेपणाचा अभ्यास करण्यासाठी केंद्र शासनाने नियुक्त केलेल्या न्या.सच्चर समितीच्या शिफारशींच्या अनुषंगाने दि. २१ फेब्रुवारी २००८ रोजी स्वतंत्र अल्पसंख्याक विकास विभागाची निर्मिती करण्यात आली.</p>

                                                <p><a class="btn btn-info" href="../../Site/Upload/Pdf/MDD_GR_Nirmitichi.pdf" target="_blank">अधिसूचना <i class="fa fa-file-pdf" style="#D50000"></i></a></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">निर्मितीची उद्दिष्टे</div>

                                            <div class="panel-body" @*style="position:relative; text-align:center; min-height: 105px;*@">
                                                <p class="quots">अल्पसंख्याक लोकसमुहांच्या सामाजिक,आर्थिक,शैक्षणिक व सांस्कृतिक अशा सर्वसमावेशक उत्कर्षासाठी तसेच अल्पसंख्याकांच्या हक्काचे संरक्षण करणे.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix">&nbsp;</div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">शासन कार्यनियमावलीनुसार नेमून देण्यात आलेले विषय</div>

                                    <div class="panel-body">
                                        <ol class="list-bullet">
                                            <li>अल्पसंख्याकांच्या कल्याणासाठी मा. पंतप्रधानांच्या १५ कलमी कार्यक्रमाचे समन्वयन व आढावा.</li>
                                            <li>महाराष्ट्र राज्य अल्पसंख्याक आयोगाचे शासकीय स्तरावरील संनियंत्रण आणि समन्वयन.</li>
                                            <li>महाराष्ट्र राज्य हज समितीचे शासकीय स्तरावरील संनियंत्रण आणि समन्वयन.</li>
                                            <li>राज्यातील अल्पसंख्याकांकडून चालविण्या जाणा-या शैक्षणिक संस्थांना अल्पसंख्याक दर्जा प्रमाणपत्रे देणे.</li>
                                            <li>वक्फ (वक्&zwj;फ अधिनियमांसह) व त्या अनुषंगीक बाबींची शासकीय स्तरावरील अंमलबजावणी,संनियंत्रण व समन्वयन.</li>
                                            <li>मौलाना आझाद अल्पसंख्याक आर्थिक विकास महामंडळाचे शासकीय स्तरावरील संनियंत्रण व समन्वयन</li>
                                            <li>महाराष्ट्र राज्य उर्दु अकादमी यांचे शासकीय स्तरावरील संनियंत्रण व समन्वयन.</li>
                                            <li>न्यायमुर्ती सच्चर समितीच्या स्वीकृत शिफारशीसंबंधातील बाबींची अंमलबजावणी, संनियंत्रण व समन्वयन.</li>
                                            <li>अल्पसंख्याकांसाठी केंद्र पुरस्कृत विविध योजनांचे राज्यस्तरीय समन्वयन.</li>
                                            <li>राज्य शासनाने अल्पसंख्याकांच्या कल्याणासाठी जाहीर केलेल्या सर्व योजनांचे समन्वयन व आढावा.</li>
                                            <li>अल्पसंख्याकांच्या विकासाबाबत वेळोवेळी तज्ञांचे/तज्ञ संस्थांचे अभ्यासगट नेमून त्याआधारे धोरणात्मक निर्णय घेण्यासाठी प्रस्ताव शासनाच्या मान्यतेसाठी सादर करणे.</li>
                                            <li>अल्पसंख्याकांशी संबंधित इतर विषय.</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="clearfix">
                    </div>
           
        
    </div>
</div>

