
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}



<link href="~/Website_Assets/js/fancy-box/jquery.fancybox.min.css" rel="stylesheet" />

<div class="container">
    <div class="content">


        <div class="headingBg">
            <!--  <h2>
             <span id="SitePH_CmsContent_lblHeading">About Us</span></h2> -->
            <div id="SitePH_CmsContent_BreadCrum_breadcrumb" class="breadcrumbDiv">
                <ul class="breadcrumb">
                    <li><b>You are here :</b></li>
                    <li><a href="index.html">Home</a></li>
                    <li>Gallery</li>
                </ul>

            </div>

        </div>


        <h2>Gallery</h2>
        <ul style="list-style:none;" class="row">
            <li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <br />
                <a data-fancybox="gallery" data-caption="Test 1" href="~/GalleryImages/1.jpg">
                    <img class="img" src="~/GalleryImages/1.jpg" style="width:100%;height:180px;" />
                </a>
                <br />
                <label>औरंगाबाद - माननीय राज्यपालांच्या हस्ते मुलींच्या वसतिगृहाचे उदघाटन - 21.9.2015</label>
                <br />
                <br />
            </li>
            <li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <br />
                <a data-fancybox="gallery" data-caption="Test 1" href="~/GalleryImages/2.jpg">
                    <img class="img" src="~/GalleryImages/2.jpg" style="width:100%;height:180px;" />
                </a>
                <br />
                <label>औरंगाबाद - माननीय राज्यपालांच्या हस्ते मुलींच्या वसतिगृहाचे उदघाटन - 21.9.2015</label>
                <br />
                <br />
            </li>
            <li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <br />
                <a data-fancybox="gallery" data-caption="Test 1" href="~/GalleryImages/3.jpg">
                    <img class="img" src="~/GalleryImages/3.jpg" style="width:100%;height:180px;" />
                </a>
                <br />
                <label>औरंगाबाद - माननीय राज्यपालांच्या हस्ते मुलींच्या वसतिगृहाचे उदघाटन - 21.9.2015</label>
                <br />
                <br />
            </li>
            <li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <br />
                <a data-fancybox="gallery" data-caption="Test 1" href="~/GalleryImages/4.jpg">
                    <img class="img" src="~/GalleryImages/4.jpg" style="width:100%;height:180px;" />
                </a>
                <br />
                <label>औरंगाबाद - माननीय राज्यपालांच्या हस्ते मुलींच्या वसतिगृहाचे उदघाटन - 21.9.2015</label>
                <br />
                <br />
            </li>
            <li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <br />
                <a data-fancybox="gallery" data-caption="Test 1" href="~/GalleryImages/5.jpg">
                    <img class="img" src="~/GalleryImages/5.jpg" style="width:100%;height:180px;" />
                </a>
                <br />
                <label>जळगाव - वसतिगृह पायाभरणी सोहळा - 7.2.2016</label>
                <br />
                <br />
            </li>
            <li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <br />
                <a data-fancybox="gallery" data-caption="Test 1" href="~/GalleryImages/6.jpg">
                    <img class="img" src="~/GalleryImages/6.jpg" style="width:100%;height:180px;" />
                </a>
                <br />
                <label>जळगाव - वसतिगृह पायाभरणी सोहळा - 7.2.2016</label>
                <br />
                <br />
            </li>
            <li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <br />
                <a data-fancybox="gallery" data-caption="Test 1" href="~/GalleryImages/7.jpg">
                    <img class="img" src="~/GalleryImages/7.jpg" style="width:100%;height:180px;" />
                </a>
                <br />
                <label>जळगाव - वसतिगृह पायाभरणी सोहळा - 7.2.2016</label>
                <br />
                <br />
            </li>
            <li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <br />
                <a data-fancybox="gallery" data-caption="Test 1" href="~/GalleryImages/8.jpg">
                    <img class="img" src="~/GalleryImages/8.jpg" style="width:100%;height:180px;" />
                </a>
                <br />
                <label>जळगाव - वसतिगृह पायाभरणी सोहळा - 7.2.2016</label>
                <br />
                <br />
            </li>
        </ul>
    </div>
    </div>
    <script src="~/Website_Assets/js/fancy-box/jquery.fancybox.min.js"></script>
