@model List<MinorityDashboard.DataModel.scheme_master>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
@*<link href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css' rel='stylesheet' type='text/css'>*@
@*<link href="../Website_Assets/css/newstickercustom.css" rel="stylesheet" />*@

<link href="../Website_Assets/css/ticker-style.css" rel="stylesheet" />
<script src="../Website_Assets/js/jquery.ticker.js"></script>
<div class="container-fluid">

    <div class="row">
        <!-- The carousel -->
        <div class="col-md-9">
            <div id="banner-section">
                <div class="carousel">
                    <div class="carousel-inner">
                        <div class="slide active">
                            <img src="../SliderImages/sliderImg1.jpg">
                        </div>
                        <div class="slide">
                            <img src="../SliderImages/sliderImg2.jpg">
                        </div>
                        <div class="slide active">
                            <img src="../SliderImages/sliderImg1.jpg">
                        </div>
                        <div class="slide">
                            <img src="../SliderImages/sliderImg2.jpg">
                        </div>

                    </div>
                    <div class="arrow arrow-left"></div>
                    <div class="arrow arrow-right"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <ul class="event-list">

                <li>
                    <img src="../../Website_Assets/images/master/cm.jpg">
                    <div class="info">
                        <h3 class="title">Devendra Fadnavis</h3>
                        <p class="desc">Chief Minister of Maharashtra</p>
                    </div>
                </li>

                <li>
                    <img src="../../Website_Assets/images/master/smm.png">
                    <div class="info">
                        <h3 class="title">Vinod Tawde</h3>
                        <p class="desc">State Minister of Maharashtra</p>
                    </div>
                </li>


                <li>
                    <img src="../../Website_Assets/images/master/dilip.jpg">
                    <div class="info">
                        <h3 class="title">Dilip Kamble</h3>
                        <p class="desc">Social Justice & Special Assistance Department of Maharashtra</p>
                    </div>
                </li>
                <li>
                    <img src="../../Website_Assets/images/master/PS.jpg">
                    <div class="info">
                        <h3 class="title">Shyam Tagde</h3>
                        <p class="desc">Principal Secretry of Minority Department</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="clear-fix"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        @*<ul id="js-news" class="">
                <li class="news-item"><a href="#">This is the 1st latest news item.</a></li>
                <li class="news-item"><a href="#">This is the 2nd latest news item.</a></li>
                <li class="news-item"><a href="#">This is the 3rd latest news item.</a></li>
                <li class="news-item"><a href="#">This is the 4th latest news item.</a></li>
            </ul>*@

        @*<div class="ticker">
                <strong>News:</strong>
                <ul>
                    <li>Bootsnipp is an element gallery for web designers and web developers.</li>
                    <li>Anybody using Bootstrap will find this website essential in their craft.</li>
                    <li><em>Another</em> ticker item</li>
                    ...
                </ul>
            </div>*@

        @*<div class="news_tricker">
                <div class="news_cover">Updates</div>
                <ul id="ticker">
                    <li><a href=''> Business heads back DTI bid for free mall space for MSMEs </a></li>
                    <li><a href=''> OECD-FAO Agricultural Outlook 2016-2025 </a></li>
                    <li><a href=''> President Mukherjee condoles passing away of A.C. Jose </a></li>
                    <li><a href=''> New International Standard to tackle Informal Economy </a></li>
                    <li><a href=''> Mandatory Energy Assessment by Dec 2015 </a></li>
                    <li><a href=''> South African Minister for Small Business Development Zulu's Maiden Budget Speech </a></li>
                    <li><a href=''> Small Businesses are the Big Deal not only for Economy but in Politics too </a></li>
                    <li><a href=''> AEC 2015 - Advantage SMEs </a></li>
                    <li><a href=''> Green Business Practice – Some Easy Steps for SMEs </a></li>
                    <li><a href=''> Small Business Impact Fund - Europe’s New Financial Plan for SMEs - Launched Recently </a></li>
                    <li><a href=''> New National Policy on MSMEs approved </a></li>
                </ul>
            </div>*@


        <div class="onoffswitch3">
            <input type="checkbox" name="onoffswitch3" class="onoffswitch3-checkbox" id="myonoffswitch3" checked>
            <label class="onoffswitch3-label" for="myonoffswitch3">
                <span class="onoffswitch3-inner">
                    <span class="onoffswitch3-active">
                        <marquee class="scroll-text">Avengers: Infinity War's Iron Spider Suit May Use Bleeding Edge Tech  <i class="fa fa-forward"></i> Russo brothers ask for fans not to spoil Avengers: Infinity War <i class="fa fa-forward"></i>  Bucky's Arm Miraculously Regenerates On Avengers: Infinity War Poster</marquee>
                        <span class="onoffswitch3-switch">BREAKING NEWS &nbsp;&nbsp;<i class="fa fa-times"></i></span>
                    </span>
                    <span class="onoffswitch3-inactive"><span class="onoffswitch3-switch">SHOW BREAKING NEWS</span></span>
                </span>
            </label>
        </div>
    </div>
</div>

<div class="clear-fix"></div>

<div class="container-fluid padding">

    <div class="row" style="background:#eee">
        <div class="col-md-8 col-md-offset-2">
            <p class="conthome">अल्पसंख्याक लोकसमुहाच्या सामाजिक, शैक्षणिक व आर्थिक मागासलेपणाचा अभ्यास करण्यासाठी केंद्र शासनाने नियुक्त केलेल्या न्या.सच्चर समितीच्या शिफारशींच्या अनुषंगाने दि. २१ फेब्रुवारी २००८ रोजी स्वतंत्र अल्पसंख्याक विकास विभागाची निर्मिती करण्यात आली.</p>
        </div>
    </div>
</div>

