@model MinorityDashboardWeb.Models.LatestNews
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
@*<link href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css' rel='stylesheet' type='text/css'>*@
@*<link href="../Website_Assets/css/newstickercustom.css" rel="stylesheet" />*@

<link href="../Website_Assets/css/ticker-style.css" rel="stylesheet" />
<script src="../Website_Assets/js/jquery.ticker.js"></script>
<div class="container-fluid">

    <div class="row">
        <!-- The carousel -->
        <div class="col-md-9">
            <div id="banner-section">
                <div class="carousel">
                    <div class="carousel-inner">
                        <div class="slide active">
                            <img src="../SliderImages/sliderImg1.jpg">
                        </div>
                        <div class="slide">
                            <img src="../SliderImages/sliderImg2.jpg">
                        </div>
                        <div class="slide active">
                            <img src="../SliderImages/sliderImg1.jpg">
                        </div>
                        <div class="slide">
                            <img src="../SliderImages/sliderImg2.jpg">
                        </div>

                    </div>
                    <div class="arrow arrow-left"></div>
                    <div class="arrow arrow-right"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <ul class="event-list">

                <li>
                    <img src="../../Website_Assets/images/master/cm.jpg">
                    <div class="info">
                        <h3 class="title">Devendra Fadnavis</h3>
                        <p class="desc">Chief Minister of Maharashtra</p>
                    </div>
                </li>

                <li>
                    <img src="../../Website_Assets/images/master/smm.png">
                    <div class="info">
                        <h3 class="title">Vinod Tawde</h3>
                        <p class="desc">State Minister of Maharashtra</p>
                    </div>
                </li>


                <li>
                    <img src="../../Website_Assets/images/master/dilip.jpg">
                    <div class="info">
                        <h3 class="title">Dilip Kamble</h3>
                        <p class="desc">Social Justice & Special Assistance Department of Maharashtra</p>
                    </div>
                </li>
                <li>
                    <img src="../../Website_Assets/images/master/PS.jpg">
                    <div class="info">
                        <h3 class="title">Shyam Tagde</h3>
                        <p class="desc">Principal Secretry of Minority Department</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="clear-fix"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">




            <div class="onoffswitch3">
                <input type="checkbox" name="onoffswitch3" class="onoffswitch3-checkbox" id="myonoffswitch3" checked>
                <label class="onoffswitch3-label" for="myonoffswitch3">
                    <span class="onoffswitch3-inner">
                        <span class="onoffswitch3-active">
                            <marquee class="scroll-text">

                                @if (Model.lstLatestNews != null)
                                {
                                    foreach (var x in Model.lstLatestNews)
                                    {
                                        <i class="fa fa-forward"></i> <a href=@Url.Action("ViewLatestNews", "Website", new { id = x.latest_news_id } )> @x.news_e </a>
                                    }

                                }

                                @*<i class="fa fa-forward"></i>  Avengers: Infinity War's Iron Spider Suit May Use Bleeding Edge Tech  <i class="fa fa-forward"></i>
                                    Russo brothers ask for fans not to spoil Avengers: Infinity War <i class="fa fa-forward"></i>
                                    Bucky's Arm Miraculously Regenerates On Avengers: Infinity War Poster*@
                            </marquee>
                            <span class="onoffswitch3-switch">BREAKING NEWS &nbsp;&nbsp;<i class="fa fa-times"></i></span>
                        </span>
                        <span class="onoffswitch3-inactive"><span class="onoffswitch3-switch">SHOW BREAKING NEWS</span></span>
                    </span>
                </label>
            </div>
        </div>
    </div>
</div>

<div class="clear-fix"></div>

@*<div class="container-fluid padding">

        <div class="row" style="background:#eee">
            <div class="col-md-8 col-md-offset-2">
                <p class="conthome">अल्पसंख्याक लोकसमुहाच्या सामाजिक, शैक्षणिक व आर्थिक मागासलेपणाचा अभ्यास करण्यासाठी केंद्र शासनाने नियुक्त केलेल्या न्या.सच्चर समितीच्या शिफारशींच्या अनुषंगाने दि. २१ फेब्रुवारी २००८ रोजी स्वतंत्र अल्पसंख्याक विकास विभागाची निर्मिती करण्यात आली.</p>
            </div>
        </div>
    </div>*@

<div class="container-fluid padding" style="background:#eee">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <p class="conthome">अल्पसंख्याक लोकसमुहाच्या सामाजिक, शैक्षणिक व आर्थिक मागासलेपणाचा अभ्यास करण्यासाठी केंद्र शासनाने नियुक्त केलेल्या न्या.सच्चर समितीच्या शिफारशींच्या अनुषंगाने दि. २१ फेब्रुवारी २००८ रोजी स्वतंत्र अल्पसंख्याक विकास विभागाची निर्मिती करण्यात आली.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid padding" style="background:#eee">
    <div class="container">
        <h2>Advertisement</h2>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <ul>
                    <li class="add"><a href="#">अल्पसंख्याक लोकसमुहाच्या सामाजिक<span><img src="../Website_Assets/images/new_arrow.gif" fastezt_runtime_already="1"></span></a></li>
                    <li class="add"><a href="#">अल्पसंख्याक लोकसमुहाच्या सामाजिक</a></li>
                    <li class="add"><a href="#">अल्पसंख्याक लोकसमुहाच्या सामाजिक<span><img src="../Website_Assets/images/new_arrow.gif" fastezt_runtime_already="1"></span></a></li>
                    <li class="add"><a href="#">अल्पसंख्याक लोकसमुहाच्या सामाजिक</a></li>
                    <li class="add"><a href="#">अल्पसंख्याक लोकसमुहाच्या सामाजिक<span><img src="../Website_Assets/images/new_arrow.gif" fastezt_runtime_already="1"></span></a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <ul>
                    <li class="add"><a href="#">अल्पसंख्याक लोकसमुहाच्या सामाजिक<span><img src="../Website_Assets/images/new_arrow.gif" fastezt_runtime_already="1"></span></a></li>
                    <li class="add"><a href="#">अल्पसंख्याक लोकसमुहाच्या सामाजिक</a></li>
                    <li class="add"><a href="#">अल्पसंख्याक लोकसमुहाच्या सामाजिक<span><img src="../Website_Assets/images/new_arrow.gif" fastezt_runtime_already="1"></span></a></li>
                    <li class="add"><a href="#">अल्पसंख्याक लोकसमुहाच्या सामाजिक</a></li>
                    <li class="add"><a href="#">अल्पसंख्याक लोकसमुहाच्या सामाजिक<span><img src="../Website_Assets/images/new_arrow.gif" fastezt_runtime_already="1"></span></a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <ul>
                    <li class="add"><a href="#">अल्पसंख्याक लोकसमुहाच्या सामाजिक<span><img src="../Website_Assets/images/new_arrow.gif" fastezt_runtime_already="1"></span></a></li>
                    <li class="add"><a href="#">अल्पसंख्याक लोकसमुहाच्या सामाजिक</a></li>
                    <li class="add"><a href="#">अल्पसंख्याक लोकसमुहाच्या सामाजिक<span><img src="../Website_Assets/images/new_arrow.gif" fastezt_runtime_already="1"></span></a></li>
                    <li class="add"><a href="#">अल्पसंख्याक लोकसमुहाच्या सामाजिक</a></li>
                    <li class="add"><a href="#">अल्पसंख्याक लोकसमुहाच्या सामाजिक<span><img src="../Website_Assets/images/new_arrow.gif" fastezt_runtime_already="1"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


