@model List<MinorityDashboard.DataModel.scheme_master>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<div class="container-fluid">

    <div class="row">
        <!-- The carousel -->
        <div class="col-md-9">
            <div id="banner-section">
                <div class="carousel">
                    <div class="carousel-inner">
                        <div class="slide active">
                            <img src="../SliderImages/sliderImg1.jpg">
                        </div>
                        <div class="slide">
                            <img src="../SliderImages/sliderImg2.jpg">
                        </div>
                        <div class="slide active">
                            <img src="../SliderImages/sliderImg1.jpg">
                        </div>
                        <div class="slide">
                            <img src="../SliderImages/sliderImg2.jpg">
                        </div>
                      
                    </div>
                    <div class="arrow arrow-left"></div>
                    <div class="arrow arrow-right"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <ul class="event-list">

                <li>
                    <img src="../../Website_Assets/images/master/cm.jpg">
                    <div class="info">
                        <h3 class="title">Devendra Fadnavis</h3>
                        <p class="desc">Chief Minister of Maharashtra</p>
                    </div>
                </li>

                <li>
                    <img src="../../Website_Assets/images/master/smm.png">
                    <div class="info">
                        <h3 class="title">Vinod Tawde</h3>
                        <p class="desc">State Minister of Maharashtra</p>
                    </div>
                </li>


                <li>
                    <img src="../../Website_Assets/images/master/dilip.jpg">
                    <div class="info">
                        <h3 class="title">Dilip Kamble</h3>
                        <p class="desc">Social Justice & Special Assistance Department of Maharashtra</p>
                    </div>
                </li>
                <li>
                    <img src="../../Website_Assets/images/master/PS.jpg">
                    <div class="info">
                        <h3 class="title">Shyam Tagde</h3>
                        <p class="desc">Principal Secretry of Minority Department</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="clear-fix"></div>
<div class="container-fluid padding">
    
    <div class="row" style="background:#eee">
        <div class="col-md-8 col-md-offset-2">
        <p class="conthome">अल्पसंख्याक लोकसमुहाच्या सामाजिक, शैक्षणिक व आर्थिक मागासलेपणाचा अभ्यास करण्यासाठी केंद्र शासनाने नियुक्त केलेल्या न्या.सच्चर समितीच्या शिफारशींच्या अनुषंगाने दि. २१ फेब्रुवारी २००८ रोजी स्वतंत्र अल्पसंख्याक विकास विभागाची निर्मिती करण्यात आली.</p>
        </div>
    </div>
</div>



