@model List<MinorityDashboard.DataModel.scheme_master>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<div class="container-fluid">

    <div class="row">
        <!-- The carousel -->
        <div class="col-md-9">
            <div id="banner-section">
                <div class="carousel">
                    <div class="carousel-inner">
                        <div class="slide active">
                            <img src="https://unsplash.it/1920/480?image=342">
                        </div>
                        <div class="slide">
                            <img src="https://unsplash.it/1920/480?image=352">
                        </div>
                        <div class="slide">
                            <img src="https://unsplash.it/1920/480?image=362">
                        </div>
                        <div class="slide">
                            <img src="https://unsplash.it/1920/480?image=341">
                        </div>
                        <div class="slide">
                            <img src="https://unsplash.it/1920/480?image=241">
                        </div>
                    </div>
                    <div class="arrow arrow-left"></div>
                    <div class="arrow arrow-right"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <ul class="event-list">
                <li>
                    <img src="../../Website_Assets/images/master/pm.jpg">
                    <div class="info">
                        <h2 class="title">Narendra Modi</h2>
                        <p class="desc">Prime Minister of India</p>
                    </div>
                </li>

                <li>
                    <img src="../../Website_Assets/images/master/cm.jpg">
                    <div class="info">
                        <h2 class="title">Devendra Fadnavis</h2>
                        <p class="desc">Chief Minister of Maharashtra</p>
                    </div>
                </li>

                <li>
                    <img src="../../Website_Assets/images/master/dilip.jpg">
                    <div class="info">
                        <h2 class="title">Dilip Kamble</h2>
                        <p class="desc">Social Justice & Special Assistance Department of Maharashtra</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


