@using (Html.BeginForm("Index", "Admin", null, FormMethod.Post))
{

    <div Style="font-family: Corbel; font-size: small ;text-align:center " class="row">
        <div style="width:100%;height:100%">
            <canvas id="myChart" style="padding: 0;margin: auto;display: block; "> </canvas>
        </div>
    </div>

    <script>
        $.ajax({
            type: "POST",
            url: "/Admin/NewChart",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (mems) {
                var aData = mems;
                var aLabels = aData[1];
                var aDatasets1 = aData[0];
                var dataT = {
                    labels: aLabels,
                    datasets: [{
                        label: "District Name",
                        data: aDatasets1,
                        fill: false,
                        backgroundColor: aData[2], //["rgba(54, 162, 235, 0.2)", "rgba(255, 99, 132, 0.2)", "rgba(255, 159, 64, 0.2)", "rgba(255, 205, 86, 0.2)", "rgba(75, 192, 192, 0.2)", "rgba(153, 102, 255, 0.2)", "rgba(201, 203, 207, 0.2)"],
                        //  borderColor: ["rgb(54, 162, 235)", "rgb(255, 99, 132)", "rgb(255, 159, 64)", "rgb(255, 205, 86)", "rgb(75, 192, 192)", "rgb(153, 102, 255)", "rgb(201, 203, 207)"],

                        borderWidth: 1
                    }]
                };
                var ctx = $("#myChart").get(0).getContext("2d");
                var myNewChart = new Chart(ctx, {
                    type: 'bar',
                    data: dataT,
                    options: {
                        responsive: true,
                        title: { display: true, text: 'District-budgetary Amount' },
                        legend: { position: 'bottom' },
                        scales: {
                            xAxes: [{ gridLines: { display: true, offsetGridLines: true }, display: true, scaleLabel: { display: false, labelString: '' } }],
                            yAxes: [{ gridLines: { display: true, offsetGridLines: true }, display: true, scaleLabel: { display: false, labelString: '' } }]
                        },
                    }
                });
            }
        });
    </script>

}

